/* General Styles */
body {
    background: linear-gradient(to left, #343A40 1450px, #191a1f 200px);
    color: #343A40;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #212329;
    color: white;
    text-align: center;
    padding: 1px; /* Slimmer padding */
    margin-bottom: 13px; /* Space between header and content */
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    height: 40px; /* Adjust height to make it thicker */
    padding: 10px; /* Add padding inside for a thicker appearance */
    border-radius: 5px; /* Rounded corners */
    border: 2px solid #212329;
    font-size: 15px; /* Adjust font size */
    font-family: Arial, sans-serif;
    background-color: #212329; /* Optional: change background color */
    color: white; /* Optional: change text color */
}

.airport-selection {
    color: white;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.right-section {
    color: white;
    display: flex;            /* Use flexbox to align elements side by side */
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.chart-buttons {
    flex-basis: 10%;          /* The buttons section will take 30% of the width */
    margin-right: 20px;
    font-weight: bold; /* This makes the buttons bold */
}

.chart-category {

    margin-bottom: 20px; /* Space between categories */
}

.chart-category h2 {
    margin: 0;
}

.chart-item {
    cursor: pointer;
    color: #007bff;
    margin: 10px 0px;
}

.chart-item:hover {
    text-decoration: underline;
}

#selected-chart {
    flex-basis: 65%;          /* The chart image section takes 65% of the width */
    text-align: center;
}

#chart-image {
    max-width: 50%;          /* Image fits the container */
    height: auto;             /* Maintain aspect ratio */
    display: block;
}

.beveled-header {
    background-color: #212329;
    color: white; /* Ensure text is visible */
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

