body {
    background: linear-gradient(to right, 
        #191a1f 22%,    /* Left side - Dark gray */
        #343A40 22%,    /* Sharp transition to lighter gray */
        #343A40 77%,    /* Middle - Light gray */
        #191a1f 22%     /* Sharp transition back to dark gray */
    );
    color: #343A40;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #212329;
    color: white;
    text-align: center;
    padding: 1px;
    margin-bottom: 13px; 
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    height: 40px;
    padding: 10px; 
    border-radius: 5px; 
    border: 2px solid #212329;
    font-size: 15px;
    font-family: Arial, sans-serif;
    background-color: #212329; 
    color: white; 
}

.airport-selection {
    color: white;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.right-section {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.chart-buttons {
    flex-basis: 10%;
    margin-right: 20px;
    font-weight: bold;
}

.chart-category {

    margin-bottom: 20px;
}

.chart-category h2 {
    margin: 0;
}

.chart-item {
    cursor: pointer;
    color: #007bff;
    margin: 10px 0px;
}

.chart-item:hover {
    text-decoration: underline;
}

#selected-chart {
    flex-basis: 65%;
    text-align: center;
}

#chart-image {
    max-width: 50%;
    height: auto;
    display: block;
    transition: transform 0.2s ease; /* Smooth transition */
    cursor: zoom-in; /* Change cursor to indicate zoom action */
}

#chart-image.zoomed {
    transform: scale(1.5); /* Zoom to 1.5 times the original size */
    cursor: zoom-out; /* Change cursor to indicate zoom out action */
}

.beveled-header {
    background-color: #212329;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}
